@font-face {
  font-family: "Barlow Regular", sans-serif;
  src: url("/assets/fonts/Barlow-Regular.woff2") format("woff2"), url("/assets/fonts/Barlow-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Bold", sans-serif;
  src: local("Barlow Bold"), local("Barlow-Bold"), url("/assets/fonts/Barlow-Bold.woff2") format("woff2"), url("/assets/fonts/Barlow-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SFPro Regular", sans-serif;
  src: local("SFPro Regular"), local("SFPro-Regular"), url("/assets/fonts/SFProDisplay-Regular.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SFPro SemiBold", sans-serif;
  src: local("SFProDisplay Regular"), local("SFProDisplay-Regular"), url("/assets/fonts/Barlow-Regular.woff") format("woff2"), url("/assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SFPro Bold", sans-serif;
  src: local("SFProDisplay Bold"), local("SFProDisplay-Bold"), url("/assets/fonts/SFProDisplay-Bold.woff2") format("woff2"), url("/assets/fonts/SFProDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #2F3035;
  font-family: "SFPro Regular", sans-serif;
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2F3035;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 1,875rem;
}

h3 {
  font-size: 1,4375rem;
}

.container {
  max-width: 1200px;
  padding: 0 1em;
  margin: 0 auto;
}

.page-section {
  margin-top: 80px;
}

.btn-search {
  font-family: "SFPro Bold", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 38px;
  background-color: #1C62CD;
  border-radius: 3px;
  border: none;
}

.navbar__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6em;
  font-family: "SFPro regular", sans-serif;
  font-weight: 700;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item-link:hover {
  color: #1C62CD;
}

.menu__list-item + .menu__list-item {
  padding-left: 2.5em;
}

.info__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__panel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5em;
}

.info__panel-item {
  min-width: 1.2em;
  min-height: 1.3em;
}

.info__panel-item + .info__panel-item {
  margin-left: 0.5em;
}

.info__panel-street {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__panel-street .street-icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 1.2em;
  width: 1.2em;
}

.cart {
  position: relative;
}

.cart__num {
  position: absolute;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.5em;
  width: 1.7em;
  height: 1.7em;
  color: #fff;
  border-radius: 50%;
  border: 1.5px solid #fff;
  background-color: #1C62CD;
  text-align: center;
  bottom: 0;
  right: -3px;
}

.menu__bottom-list {
  background-color: #F0F0F4;
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.item-link {
  padding-bottom: 0.755em;
}

.item-link:hover {
  border-bottom: 3px solid #1C62CD;
  -webkit-transition: .2s;
  transition: .2s;
  color: #1C62CD;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-block__slider {
  max-width: 75%;
}

.hero-block__sale {
  max-width: 23%;
  text-align: center;
}

.hero__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.hero__btn-prev {
  left: 20px;
}

.hero__btn-next {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  margin: 0;
  font-size: 0;
  height: 11px;
  width: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slick-active button {
  background-color: #fff;
}

.cta-lable {
  background-color: #1C62CD;
  color: #fff;
  padding: 8px 20px;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 0.1em;
  border-radius: 2px 0 0 0;
}

.sale__item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale__item--info {
  text-transform: uppercase;
  font-family: "SFPro Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.sale__item--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sale__item--price {
  text-align: right;
}

.sale__item--price-new {
  margin-right: 0.2em;
  position: relative;
}

.sale__item--price-new::after {
  content: '';
  background-image: url("../assets/images/price-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  right: 0;
  top: 2px;
  width: 16px;
  height: 19px;
  margin-left: 0.35em;
}

.sale__item--price-old {
  margin-right: 0.2em;
  margin-top: 0.5em;
  padding: 2px 3px 3px 5px;
  display: inline-block;
  background-image: url("../assets/images/line.svg");
  background-repeat: no-repeat;
}

.sale__item--price-old::after {
  content: '';
  background-image: url("../assets/images/price-icon-old.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 8px;
  height: 10px;
  margin-left: 0.5em;
}

.sale__item--image {
  max-width: 200px;
  max-height: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sale__item--title {
  font-family: "SFPro Bold", sans-serif;
  font-weight: 700;
  line-height: 22px;
  font-size: 1.125rem;
  max-width: 20ch;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sale__item--footer {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1em 2em;
  background-color: #F0F0F4;
}

.sale__item--footer-text {
  font-family: "SFPro Regular", sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 1.125rem;
  margin-bottom: 2px;
}

.sale__item--footer-date {
  color: #1C62CD;
  font-family: "Barlow Bold", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;
}

.price {
  font-family: "Barlow Bold", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 32px;
}

.price-sale {
  color: #1C62CD;
  font-size: 1.687rem;
}

.price-old {
  font-family: "Barlow Bold", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #C4C4C4;
  line-height: 14px;
}

.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item--active {
  border-radius: 5px;
  font-family: "SFProDisplay-Bold", sans-serif;
  background-color: #F0F0F4;
  font-weight: 700;
}

.search__content-item {
  display: none;
}

.search__content-item--active {
  display: block;
}

.search__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__content-btn {
  margin-left: -3px;
}

.search__content-input {
  border: none;
  padding: 15px 20px;
  background-color: #F0F0F4;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
  line-height: 19px;
  width: 100%;
}

.search__content-input::-webkit-input-placeholder {
  color: #656464;
}

.search__content-input:-ms-input-placeholder {
  color: #656464;
}

.search__content-input::-ms-input-placeholder {
  color: #656464;
}

.search__content-input::placeholder {
  color: #656464;
}
