//  Fonts that uses Headers
@font-face {
    font-family: "Barlow Regular";
    src: local("Barlow Regular"), local("Barlow-Regular"),
         url("assets/fonts/Barlow-Regular.woff") format("woff"), 
         url("assets/fonts/Barlow-Regular.woff2") format("woff2"); 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Barlow Bold";
    src: local("Barlow Bold"), local("Barlow-Bold"),
         url("assets/fonts/Barlow-Bold.woff") format("woff"), 
         url("assets/fonts/Barlow-Bold.woff2") format("woff2"); 
    font-style: normal;
    font-display: swap;
}
// Fonts that uses regular text

@font-face {
    font-family: "SFPro Regular";
    src: local("Barlow Regular"), local("Barlow-Regular"),
         url("assets/fonts/Barlow-Regular.woff") format("woff"), 
         url("assets/fonts/Barlow-Regular.woff2") format("woff2"); 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SFPro Bold";
    src: local("SFPro Bold"), local("SFPro-Bold"),
         url("assets/fonts/SFPro-Bold.woff") format("woff"), 
         url("assets/fonts/SFPro-Bold.woff2") format("woff2"); 
    font-style: normal;
    font-display: swap;
}


