.products
    margin-top: 40px
    &__item
        padding: 52px 20px 31px
        margin: 0 auto
        width: 270px
        &:hover
            color: $cta-color
            & .products__item-hover--text
                opacity: 1
        &--sale
            &::before
                content: "sale"
                position: absolute
                padding: 0.3em 1em
                background-color: $cta-color
                border-radius: 3px 0px 0px 0px
                left: 0
                top: 0
                font-size: 0.75rem
                text-transform: uppercase
                color: #fff
                letter-spacing: 0.1em
        &-wrapper
            text-align: center
            width: 270px
            position: relative

        &-title
            padding: 14px 0 25px
            margin: 0 auto
            font-weight: normal
        &-favorit
            position: absolute
            top: 16px
            right: 19px
            width: 24px
            height: 22px
            background-color: transparent
            border: none
            z-index: 5
            outline: none
            &::before
                content: ''
                position: absolute
                background-image: url('../assets/images/heart.svg')
                width: 24px
                height: 22px
                top: 0
                left: 0
            &--active
                &::before
                    background-image: url('../assets/images/cta-heart.svg')
        &-hover
            &--text
                padding: 18px 21px
                background-color: rgba(255,255,255,0.9)
                border-radius: 3px
                z-index: 5
                display: inline-block
                color: $primary-color
                position: absolute
                top: 30%
                opacity: 0
                transition: all 0.3s
                &:hover
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)
        &-cart
            position: absolute
            width: 60px
            height: 40px
            background-color: $cta-color
            bottom: 0
            right: 0
            border-radius: 10px 0 3px 0
            border: none
            padding-top: 6px
            &--img
        &-notify
            &--text
                font-family: "SFPro Bold", sans-serif
                font-weight: 700
                font-size: 1.125rem
                color: $primary-color
                display: none
            &--link
                display: none

.tabs__wrapper
    &-title
        margin-bottom: 25px

// Поведение елементов при добавлении позиции out of stock

.products__item-wrapper.products__item-not-available
    & .products__item-notify--text
        display: block
        padding-bottom: 25px
    & .products__item-price
        display: none
    & .products__item-cart
        display: none
    & .products__item-hover--text
        display: none
    & .products__item-title
        padding: 13px 0px
    & .products__item-notify--link
        display: block
        position: absolute
        bottom: 20px
        left: 0
        right: 0
        font-size: 1rem
        line-height: 19px
        text-align: center
        color: $cta-color
        & span
            border-bottom: 1px solid $cta-color
