// Basic styles  

*, *::before, *::after
    box-sizing: border-box

body
    color: $primary-color
    font-family: "SFPro regular", sans-serif
    font-size: 1.25rem
    line-height: 24px
    font-weight: 400

img
    max-width: 100%

a
    text-decoration: none
    color: $primary-color

ul, li
    margin: 0
    padding: 0
    list-style: none

h1, h2, h3, h4, h5, h6, p
    margin: 0

// Headings & Text

h1
    font-size: 3.125rem

h2
    font-size: 1,875rem

h3
    font-size: 1,4375rem

// Greed 

.container
    max-width: 1200px
    padding: 0 1em
    margin: 0 auto
