// Colors

$primary-color: #2F3035
$secondary-color: #C4C4C4
$cta-color: #1C62CD
$cat-text-color: #fff
$bg-color: #F0F0F4

Fonts 
$sfpro_R: "SFProDisplay Regular", sans-serif
$sfpro_B: "SFProDisplay Bold", sans-serif
$barlow_R: "Barlow Regular", sans-serif
$barlow_B: "Barlow Bold", sans-serif

    // Basic styles 

*, *::before, *::after
    box-sizing: border-box

body
    margin: 0
    padding: 0
    color: $primary-color
    font-family: $sfpro_R
    font-size: 1.25rem

img
    max-width: 100%

a
    text-decoration: none
    color: $primary-color

ul, li
    list-style: none

h1, h2, h3, h4, h5, h6, p
    margin: 0
    padding: 0

// Headings & Text

h1
    font-size: 3.125rem

h2
    font-size: 1,875rem

h3
    font-size: 1,4375rem

h4
    font-size: 1,4375rem

// Greed 

.container
    min-width: 1171px
